.add-tag-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .fa-times{
        position: absolute;
        left: 0; 
        top: -5px;
    }

    .fa-times:hover{
        color: #995db5;
    }

    form{
        height: 100px;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        input{
            padding: 5px 25px;
            font-size: 14px;
            border: 2px solid transparent;
            border-bottom: 1.5px solid black;
            width: 75px;
        }

        input:focus{
            outline: none;
            border-bottom: 1.5px solid #995db5;
        }

        input::-webkit-input-placeholder{
            text-align: center;
        }

        #cannotBeEmptyError{
            color: red;
            font-size: 12px;
        }

        #addedTag{
            color: green;
            font-size: 12px;
        }

        #actions{
            display: flex;
            justify-content: space-between;

            #add-button{
                margin-top: 15px;
            }
        }
    }

    #cancel-button{
        height: 18px;
        width: 62.27px;
        position: relative;
        // top
    }
}